/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 40px;
  background-color: #f9f9f9; /* Color de fondo ligero */
}

/* Formulario */
form {
  width: 50%;
  max-width: 400px; /* Evita que el formulario sea demasiado grande en pantallas grandes */
  margin: 40px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background: #fff; /* Fondo blanco para el formulario */
  text-align: left; /* Asegura que los labels estén alineados a la izquierda */
}

/* Etiquetas */
label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

/* Campos de entrada */
input[type="text"] {
  width: calc(100% - 20px); /* Se ajusta al contenedor */
  display: block;
  margin: 0 auto 15px auto; /* Centrado y separación inferior */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box; /* Evita que el padding afecte el tamaño */
}

/* Botón de envío */
input[type="submit"] {
  width: 100%;
  height: 40px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

input[type="submit"]:hover {
  background-color: #3e8e41;
}

/* Botones generales */
button {
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 16px;
}

button:hover {
  background-color: #3e8e41;
}

/* Ajuste de tamaño para botones pequeños */
button.pequeno {
  width: auto;
  min-width: 100px; /* Tamaño mínimo */
  padding: 5px 10px;
  font-size: 14px;
  height: 35px;
}

/* Ajuste del tamaño del logo */
.logo {
  width: 120px;
  height: auto;
  margin-bottom: 15px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
